*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

h1{
    font-family: "josefin-sans", sans-serif;
}

header{
    background: #ffffff;
    right: 0px;
    width: 102px;
    height: 1024px;
    position: absolute;
}

nav{
    margin-top: 42px;
    position: absolute;
}

a{
    transform: rotate(90deg);
}

.link-nav{
    
    display: inline-block;
    font-size: 16px;
    margin-bottom: 80px;
    display: block;
    margin-left: 50%;
}

.logo{
    position: absolute;
    bottom: 50px;
    left: 31px;
}